html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 12px;
    .dark & {
      background: #111111;
    }
  }
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  &.dark {
    color: var(--main-text-color-dark-bg);
    background-color: var(--main-bg-color-dark-bg);
  }
}
