html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 12px;
    transition: background-color 2500ms linear;
    .dark & {
      background-color: #111111;
    }
  }
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  transition: background-color 250ms linear, color 250ms linear;

  &.dark {
    color: var(--main-text-color-dark-bg);
    background-color: var(--main-bg-color-dark-bg);
  }
}

.noScroll {
  overflow: hidden;
}
