<header class="header">
  <div class="container header__container">
    <a class="logo__header" href="./index.html">
      <div class="header__logo-img"></div>
      <!-- <img
        width="86"
        height="28"
        class="header__logo-img"
        src="#"
        alt=""
        loading="lazy"
      /> -->
    </a>
    <nav>
      <ul class="nav">
        <li class="nav__item">
          <a href="./index.html" class="nav__link">HOME</a>
        </li>
        <li class="nav__item">
          <a href="./shoppinglist.html" class="nav__link"
            >SHOPPING LIST
            <svg class="icon_shop" width="13" height="16">
              <use href="./images/icons.svg#icon-shoppingcart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <label class="switch">
      <input type="checkbox" class="switch__input" />
      <span class="switch__slider"></span>
    </label>
    <button
      class="menu-toggle js-open-menu header__burger"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger__icon" width="28" height="28">
        <use href="./images/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <!-- <button
      type="button"
      class="js-open-modal button header__button"
      data-modal="buynow"
    >
      Sign up
      <svg class="button__icon" width="16" height="16">
        <use href="./images/icons.svg#icon-arrow-right"></use>
      </svg>
    </button> -->
    <button
      type="button"
      class="js-open-modal button header__button header__button_logout"
      data-modal="buynow"
    >
      <svg class="button__icon" width="16" height="16">
        <use href="./images/icons.svg#icon-user"></use>
      </svg>
      USER
      <svg class="button__icon" width="16" height="16">
        <use href="./images/icons.svg#icon-arrow-down"></use>
      </svg>
    </button>
  </div>
</header>
