<div
  class="mobile-menu js-menu-container js-open-menu flip-in-ver-right"
  id="mobile-menu"
>
  <div class="mobile-menu__container">
    <header class="header-mobile">
      <div class="header__container">
        <a class="logo__header" href="./index.html">
          <div class="header__logo-img"></div>
          <!-- <img
            width="86"
            height="28"
            class="header__logo-img"
            src="./images/logo_big.svg"
            alt="Logo"
            loading="lazy"
          /> -->
        </a>

        <label class="switch">
          <input type="checkbox" class="switch__input" />
          <span class="switch__slider"></span>
        </label>
        <button type="button" class="mobile-menu__close js-close-menu">
          <svg
            class="mobile-menu__icon"
            width="28"
            height="28"
            aria-label="Закриття мoбільного меню"
          >
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <!-- <button
          type="button"
          class="js-open-modal button header__button"
          data-modal="buynow"
        >
          Sign up
          <svg class="button__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-user"></use>
          </svg>
        </button> -->
      </div>
    </header>

    <div class="mobile-menu__flex">
      <!-- <a class="mobile-menu__logo" href="./index.html" aria-label="Logo"> </a> -->

      <!-- <button
        type="button"
        class="js-open-modal button mobile__button"
        data-modal="signup"
      >
        Sign up
        <svg class="button__icon" width="16" height="16">
          <use href="./images/icons.svg#icon-trash"></use>
        </svg>
      </button> 
    -->
      <!-- <button
        type="button"
        class="js-open-modal button mobile__button log-in"
        data-modal="buynow"
      >
        <svg class="button__icon mobile-button__icon" width="16" height="16">
          <use href="./images/icons.svg#icon-user"></use>
        </svg>
        USER
      </button>

      <ul class="mobile-nav">
        <li class="mobile-nav__item">
          <a href="./index.html" class="mobile-nav__link">HOME</a>
        </li>
        <li class="mobile-nav__item">
          <a href="./shoppinglist.html" class="mobile-nav__link"
            >SHOPPING LIST
            <svg class="icon_shop" width="13" height="16">
              <use href="./images/icons.svg#icon-shoppingcart"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button
        type="button"
        class="js-open-modal button mobile__button mobile__button_logout log-out"
        data-modal="logout"
      >
        Log out
        <svg class="button__icon mobile-button__icon" width="16" height="16">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button> -->
    </div>
  </div>
  <!-- <div class="img__book"></div> -->
</div>
