<div class="mobile-menu js-menu-container js-open-menu" id="mobile-menu">
  <div class="mobile-menu__container">
    <header class="header-mobile">
      <div class="header__container">
        <a class="logo__header" href="./index.html">
          <img
            width="86"
            height="28"
            class="header__logo-img"
            src="./images/logo_big.svg"
            alt="Logo"
            loading="lazy"
          />
          <!-- <picture width="25" height="25"> -->
          <!-- <source
          media="(min-width: 1200px)"
          srcset="
            ./images/header/logo_l@1x.png 1x,
            ./images/header/logo_l@2x.png 2x
          "
        /> -->
          <!-- <source
          media="(min-width: 768px)"
          srcset="
            ./images/header/logo_m@1x.png 1x,
            ./images/header/logo_m@2x.png 2x
          "
        /> -->
          <!-- <source
          media="(max-width: 767px)"
          srcset="
            ./images/header/logo_s@1x.png 1x,
            ./images/header/logo_s@2x.png 2x
          "
        /> -->
          <!-- <img
          class="header__logo-img"
          src="./images/header/logo_s@1x.png"
          alt="Logo"
          loading="lazy"
        /> -->
          <!-- </picture> -->
          <span></span>
        </a>
        <nav>
          <ul class="nav">
            <li class="nav__item">
              <a href="./index.html" class="nav__link">HOME</a>
            </li>
            <li class="nav__item">
              <a href="./shoppinglist.html" class="nav__link"
                >SHOPPING LIST
                <svg class="icon_shop" width="13" height="16">
                  <use href="./images/icons.svg#icon-user"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
        <label class="switch">
          <input type="checkbox" class="switch__input" />
          <span class="switch__slider"></span>
        </label>
        <button type="button" class="mobile-menu__close js-close-menu">
          <svg
            class="mobile-menu__icon"
            width="28"
            height="28"
            aria-label="Закриття мoбільного меню"
          >
            <use href="./images/icons.svg#icon-user"></use>
          </svg>
        </button>
        <button
          type="button"
          class="js-open-modal button header__button"
          data-modal="buynow"
        >
          Sign up
          <svg class="button__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-user"></use>
          </svg>
        </button>
      </div>
    </header>
    <!-- <button type="button" class="mobile-menu__close js-close-menu">
      <svg
        class="mobile-menu__icon"
        width="32"
        height="32"
        aria-label="Закриття мoбільного меню"
      >
        <use href="./images/icons.svg#icon-user"></use>
      </svg>
    </button> -->

    <div class="mobile-menu__flex">
      <a class="mobile-menu__logo" href="./index.html" aria-label="Logo"> </a>
      <ul class="mobile-menu__list list">
        <li class="mobile-menu__item modal-menu__link">
          <a href="./index.html">Home</a>
        </li>
        <li class="mobile-menu__item modal-menu__link">
          <a href="#how-made">How it’s made?</a>
        </li>
        <li class="mobile-menu__item modal-menu__link">
          <a href="#our-products">Our products</a>
        </li>
        <li class="mobile-menu__item modal-menu__link">
          <a href="#contact">Contact</a>
        </li>
      </ul>
      <button
        type="button"
        class="js-open-modal button mobile-menu__button"
        data-modal="buynow"
      >
        Buy now
        <svg class="button__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
