<div class="modal-books__backdrop is-hidden" data-modal>
    <div class="modal-books-container">
        <button type="button" class="modal__close-btn" data-modal-close>
            <svg class="modal__close-icon" width="28" height="28">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-books-wrapper">
    
        </div>
        <button type="button" class="modal__add-btn">Add to shopping list</button>
        <p class="modal-book__underbtn"></p>
    </div>
  </div>
